<form [formGroup]="formul" (ngSubmit)="handlerSubmit()">
    <div class="form-group">
      <label for="inputNombre">DNI CLIENTE</label>
      <input formControlName="dni" type="text" class="form-control" id="inputNombre">
    </div>
    <select class="custom-select mb-3" formControlName="producto">
        <option value=""></option>
        <option [ngValue]="item.idProd" *ngFor="let item of productos">{{item.nombre}}</option>
    </select>
    <button type="submit" class="btn btn-danger">COMPRAR</button>
    <pre>
        {{formul.value.productos | json}}
    </pre>
</form>